treamlit
joblib
scikit-learn
pandas
numpy
PyPDF2
docx2txt
sentence-transformers
spacy
xgboost
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1.tar.gz